body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: black;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    text-decoration: none;
}

nav .logo {
    margin-left: 30px;
}

.menu ul {
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}

.menu li {
    float: left;
    height: 100%;
}

/* removing default syling on nav a tags */
nav li a {
    text-decoration: none;
    color: white;
}

.logo {
    height: 60px;
    width: 100px;
    background-image: url(images/Scania\ Logo\ Wallpaper\ 37846.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.logo a {
    height: 100%;
    width: 100%;
}

nav li {
    height: 100%;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 20px 15px;
    color: #f2f2f2;
    transition: all 0.3s ease-in;
}

nav li:hover {
    background-color: blue;
    color: white;
}

.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    margin-left: 0;
    display: none;
    margin-right: 50px;
}

/* styling the truck details section*/
.truck_details {
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #ecdada;
}

.tittle {
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.truck_images {
    background-image: url(images/black_scania.jpg);
    height: 450px;
    width: calc(65% - 20px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.truck_overview {
    width: calc(30% - 30px);
}

.specs h2,
.specs h4 {
    text-align: center;
    color: blue;
}

.specs p {
    text-align: center;

}

.prices_and_inquiry {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #222;
    color: white;
    
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.prices_and_inquiry h2,
.prices_and_inquiry h3 {
    color: white;
}
.price {
    width: calc(40% - 30px);
    height: 360px;
    text-align: center;
}
.price ul {
    margin-left:0;
    list-style: none;
}
.inquiry {
    width: calc(60% - 30px);
    height: 360px;
    margin-right: 30px;
}

.name_and_phoneNumber {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.name_and_phoneNumber .name_field {
    height: 45px;
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

.name_and_phoneNumber .phoneNumberField {
    height: 45px;
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

.inquiry .name_and_phoneNumber .name_field input,
.inquiry .name_and_phoneNumber .phoneNumberField input {
    height: 100%;
    width: 90%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}

.emailField {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}

.textArea {
    height: 120px;
    width: 100%;
}

.inquiry form .emailField input,
.inquiry form .textArea textarea {
    height: 100%;
    width: 95%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}

.button {
    width: 170px;
    height: 47px;
}

.button button {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border: 2px solid white;
    background: white;
    color: black;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 400;
    transition: 0.3s all ease;
    cursor: pointer;
}

.button button:hover {
    background: none;
    color: white;
}

/* similar deals styling*/
.other-deals-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.other-deals-content a {
    text-decoration: none;
}
.T_and_B {
    background-color: #c8cddb;
    border-radius: 4px;
    padding: 3px;
    margin: 6px;
    width: calc(33.33% - 30px);
    transition: all 0.3s ease;
    margin-bottom: 20px;
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
}
.T_and_B:hover {
    background: #ebe2e2;
    border: 1px solid black;
}

.T_and_B span {
    color: rgba(128, 39, 211, 0.637);
}

.T_and_B .button_checkout {
    width: 40%;

}

.T_and_B .button_checkout button {
    width: 100%;
    height: 100%;
    background: rgb(146, 110, 19);
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.3s ease;
}

.T_and_B .button_checkout button:hover {
    background: none;
    color: black;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.similarDeals {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #ecdada;

}


.footer {
    padding: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #222;
    margin-bottom: 12px;
    color: white;
}

.footer a {
    text-decoration: none;
    margin: 3px;
    color: white;
    transition: all 0.3s ease;
}

footer i {
    color: white;
}
.footer a:hover {
    text-decoration: underline;
    color: yellowgreen
}

.footer_div {
    width: calc(25% - 30px);
    text-align: center;
}

.footer h4 {
    text-align: center;
    color: blueviolet;
    padding: 6px;
}

/* responsive part media querries */
@media (min-width: 768px) {
    nav .logo {
        margin-left: 10px;
    }

    nav {
        position: fixed;
    }


    ul {
        padding: 0;
        margin: 0 0 0 100px;
        list-style: none;
    }

    nav li {
        height: 100%;
        width: 80px;
        text-align: center;
        text-decoration: none;
        display: block;
        padding: 15px 10px;
        color: #f2f2f2;
        transition: all 0.3s ease-in;
    }

    .truck_images {
        background-image: url(images/black_scania.jpg);
        height: 450px;
        width: calc(65% - 20px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .T_and_B {
        background-color: #c8cddb;
        border-radius: 4px;
        padding: 3px;
        margin: 6px;
        width: calc(25% - 10px);
        transition: all 0.3s ease;
        margin-bottom: 20px;
    }
    .T_and_B .button_checkout {
        width: 60%;
    }
    .footer_div {
        width: calc(25% - 30px);
        text-align: center;
    }
    .T_and_B .button_checkout button {
        font-size: 14px;
    }
    .T_and_B .button_checkout button:hover {
        background: none;
        color: black;
        font-size: 14px;
        font-weight: 300;
    }
}

/* larger devices */
@media (max-width: 767px) {
    nav .logo {
        margin-left: 10px;
    }
    nav {
        position: fixed;
        width: 100%;
    }
    

    .menu {
        position: fixed;
        height: 610px;
        width: 100%;
        left: -150%;
        top: 0;
        background : black;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .menu.active {
        left: 0;
    }
    .menu li {
        display: block;
        width: 100%;
        margin-right: 150px;
    }

    .menu  li a {
        display: block;
        font-size: 25px;
        width: 100%;
        margin-right: 150px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .truck_images {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .truck_overview {
        width: calc(60% - 30px);
        margin-left: auto;
        margin-right: auto;
    }
    .price {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .price ul {
        list-style: none;
    }
    .inquiry {
        width: 90%;
    }

    .T_and_B {
        background-color: #c8cddb;
        border-radius: 4px;
        padding: 3px;
        margin: 6px;
        width: calc(40% - 5px);
        transition: all 0.3s ease;
        margin-bottom: 20px;
    }
    .T_and_B .button_checkout {
        width: 60%;
    }
    .footer_div {
        width: calc(25% - 10px);
        text-align: center;
    }
    .T_and_B .button_checkout button {
        font-size: 12px;
    }
    .T_and_B .button_checkout button:hover {
        background: none;
        color: black;
        font-size: 14px;
        font-weight: 300;
    }

    .footer_div {
        width: calc(50%);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

/* smaller devices view */
@media (max-width: 480px) {
    nav .logo {
        margin-left: 8px;
    }
    nav {
        position: fixed;
    }
    
    nav li {
        display: none;
    }
    .T_and_B {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .T_and_B .button_checkout {
        width: 40%;
    }
    .footer_div {
        width: calc(50%);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .T_and_B .button_checkout button {
        font-size: 12px;
    }
    .T_and_B .button_checkout button:hover {
        background: none;
        color: black;
        font-size: 14px;
        font-weight: 300;
    }
}